/* hire.css */

body {
    font-family: 'Arial', sans-serif;
    /* background-image: url('istockphoto-1416048929-612x612.jpg'); */
    background-size: cover;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: -1;
}

header {
    background: linear-gradient(to right, #2c3e50, #34495e);
    color: #ecf0f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Added border-radius */
}

.freelancer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
}

.freelancer-card {
    background-color: #ecf0f1; 
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background: rgba(255, 255, 255, 0.9); 
    transition: box-shadow 0.3s ease; /* Added transition for box-shadow */
}

.freelancer-card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Hover effect */
}

.freelancer-card img {
    width: 100%; 
    height: auto;
    border-radius: 50%;
    border: 4px solid #2c3e50; 
    overflow: hidden;
}



.freelancer-card h2 {
    font-size: 20px;
    color: #2c3e50;
    margin: 10px 0;
}

.freelancer-card p {
    color: #34495e;
    margin-bottom: 10px;
}

.freelancer-card button.view-profile-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-size: 14px; /* Adjusted font size */
}

.freelancer-card button.view-profile-btn:hover {
    background-color: #2980b9;
}

.apply-header {
    background-color: #2c3e50; 
    color: #ecf0f1; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.apply-header a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.apply-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.apply-header li {
    margin: 0;
}

.freelancer-search {
    margin: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    border: none;
    border-radius: 15px; /* Increased border-radius */
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    font-size: 16px;
}

.freelancer-card.expanded .toggle-expand-btn {
    background-color: #e74c3c; /* Adjusted color for the expanded state */
}

.freelancer-card.expanded .toggle-expand-btn:hover {
    background-color: #c0392b; /* Adjusted hover color for the expanded state */
}